<h1>Add A New Song</h1>

<%= form_for @picture do |f| %>
    <p>
        <%= f.label :title %><br>
        <%= f.text_field :title %>
    </p>

    <p>
        <%= f.label :singer %><br>
        <%= f.text_field :singer %>
    </p>

    <p>
        <%= f.label :genre %><br>
        <%= f.text_field :genre %>
    </p>

    <p>
        <%= f.label :picture %><br>
        <%= f.text_field :picture %>
    </p>
    <p><%= f.submit "Save" %> 
    </p>
